.idea
.gwt
bin
target
.settings
.classpath
.project
.DS_Store
*.iml
tmp
node_modules
dependency-reduced-pom.xml
*.factorypath
RemoteSystemsTempFiles
.cache-main
.metadata
.recommenders
dependency.list
pom.xml.releaseBackup
release.properties